<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
</head>
<body>
<p>Здравствуйте, {{ user.first_name }} {{ user.last_name }}!</p>
<p>Вы получили это письмо, потому что запросили сброс пароля на нашем сайте.</p>
<p>Чтобы сбросить ваш пароль, нажмите на ссылку ниже:</p>
<p><a href="http://localhost:8000{% url 'account:password-reset-confirm' uidb64=uid token=token %}">Сбросить пароль</a>
</p>
<p>Если вы не делали запрос на сброс пароля, проигнорируйте это письмо.</p>
</body>
</html>
