{% extends 'base.html' %}
<title>{% block title %}Платформа для бойкота товаров{% endblock title %}</title>
{% block  content %}
    <main>
        <div class="chat-container">
            <div class="chat-header">Платформа для бойкотирования товаров</div>
            <div class="chat-messages">
                <div class="message ai-message">
                    Здравствуйте! Я помогу вам найти информацию о товарах и их этичных альтернативах. Просто введите
                    название интересующего вас продукта, например "Coca-Cola".
                </div>

                <div class="message user-message">
                    Coca-Cola
                </div>
            </div>
            <div class="chat-input">
                <input type="text" placeholder="Введите название продукта...">
                <button>Найти</button>
            </div>
        </div>
    </main>
{% endblock content %}